# Local Terraform directories
**/.terraform/*
!.terraform/plugins/**

# Terraform state files
*.tfstate
*.tfstate.*

# Backup files
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Sensitive data files (custom)
secrets.tfvars
